.backCalendar{
    color: #FF4937;
    margin: 20px 0px 0px 20px;
    border: solid thin #FF4937;
    background-color: white;
}
.backCalendar:hover{
    color: white;
    background-color: #FF4937;
}
.Add{
    background-color: white;
}
.App-header{
    background-color: white;
    color: black;
}
input{
    padding: 7px;
    margin: 10px 0px 10px 50px;
    border-radius: 20px;
    border: solid thin #FF4937;
    color: black;
}